{% extends 'layout.html' %}

{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">

                    <h3 class=" site-heading my-4 mt-3 text-white"><img src="/media/images/pearfectmarketlogo.png" alt="HTML5 Icon" style="width:100px;height:100px;"> Pearfect Market </h3>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Got an event you want to add? Submit here!</h2>
    <h4>Please include:</h4>
    <p>-Event name</p>
    <p>-Date</p>
    <p>-Time</p>
    <p>-Set Up Time</p>
    <p>-Location</p>
    <p>-Type of Vendors Needed</p>
    <p>-Vendor Fee</p>
    <p>-Event Contact Information</p>
                    <p>-Additional Pear tags you want to add</p>
                    <br>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>*Hold down “Control”, or “Command” on a Mac, to select more than one Pear tag</p>
                        <button class="button is-success is-fullwidth is-medium mt-5"
                                type="submit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}