{% extends 'layout.html' %}

{% block title %}
<title>Pearfect Market</title>
{% endblock %}
{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">

                    <h3 class=" site-heading my-4 mt-3 text-white"><img src="/media/images/pearfectmarketlogo.png" alt="HTML5 Icon" style="width:100px;height:100px;"> Pearfect Market </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    {% include 'list.html' %}
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}