  <head>
    <style>
      .right-sidebar{
        position:absolute;
        top:270px;
        right:0;
        width:400px;
        height:100%;
        }
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #BA55D3;
        border-radius: 6px;
        outline: none;
        transition: 0.3s;
      }
      .button:hover {
        background-color: #c2c7c7;
      }
    </style>
  </head>

<div class="right-sidebar">
  <div class="border rounded-md mb-4">
    <div class="bg-slate-200 p-4">Search</div>
    <div class="p-4">
      <form action="{% url 'search' %}" method="POST" class="grid grid-cols-4 gap-2">
        {% csrf_token %}
        <input
          type="text"
          name="keyword"
          class="border rounded-md w-full focus:ring p-2 col-span-3"
          placeholder="Search something..."
        />
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-black uppercase font-semibold font-sans w-full focus:ring col-span-1"
        >
          Search
        </button>
      </form>
    </div>
      <div class="bg-slate-200 p-4">Pear Tags</div>
        <form method="POST" action="{% url 'tagfilter' %}" class="border rounded-md w-full focus:ring p-2 col-span-3">
          {% csrf_token %}
          {% for tag in tags %}
            {{tag.name}}
            {% for subtag in tag.tag.all %}
              <div class="button">
                <input type="checkbox" id="{{subtag.name}}" value="{{subtag.name}}" name="q">
                <label for="{{subtag.name}}">{{subtag.name}}</label>
              </div>
            {% endfor %}
            <hr>
          {% endfor %}

          <button type="submit" class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-black uppercase font-semibold font-sans w-full focus:ring col-span-1">submit</button>
        </form>
</div>
  </div>
</div>